<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Заголовок</title>
    <meta name="description" content="">
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/styles.min.css">

    <script src="https://api-maps.yandex.ru/2.1/?apikey=865714b7-1fc0-49e4-ac3d-b917e31ad8de&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <span class="main-logo">Palex <span>Web</span></span>
        <ul class="header__services-list">
            <li class="header__services-item"><a href="">Создание сайтов</a></li>
            <li class="header__services-item"><a href="">Продвижение</a></li>
            <li class="header__services-item"><a href="">Контекстная реклама</a></li>
            <li class="header__services-item"><a href="">Соцсети</a></li>
            <li class="header__services-item"><a href="">Портфолио</a></li>
        </ul>
        <a href="tel:74996495357" class="phone-number">+7(499) 649-53-57</a>
        <span class="main-menu-button"></span>
        <div class="main-menu hidden">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="" class="main-nav__link">Главная</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">О компании</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Портфолио</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>