@import '_libs';
@import '_fonts';
@import '_ui';

/*__Inspect__*/

.insp-r {
	background-color: rgba(250, 50, 50, 0.1);
    box-shadow: inset 0px 0px 4px 2px  rgba(200, 50, 50, 0.2);	
}

.insp-g {
	background-color: rgba(50, 250, 50, 0.1);
    box-shadow: inset 0px 0px 4px 2px  rgba(50, 200, 50, 0.2);	
}

.insp-b {
	background-color: rgba(50, 50, 250, 0.1);
    box-shadow: inset 0px 0px 4px 2px  rgba(50, 50, 200, 0.2);	
}


/*__Basic__*/

html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;

	min-width: 320px;

	color: #525466;
	background: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 1185px;
  margin: 0 auto;
}

.v-hidden:not(:focus):not(:active),
input[type="checkbox"].v-hidden,
input[type="radio"].v-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
	outline: none;
	border: none;

	width: 260px;
	min-height: 60px;
	background-color: #FD9191;

	vertical-align: middle;
	text-align: center;
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;

	border-radius: 100px;
	color: #ffffff;
	cursor: pointer;
}

.columns {
	display: flex;
	justify-content: space-between;
}

/*__Header__*/

.header__wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 44px;

	align-items: flex-start;
	margin-bottom: 72px;

	width: 100%;
}

.main-logo {
	display: block;

	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 35px;	
	color: #71A5F4;
	margin-right: 50px;
	min-width: 155px;
}

.main-logo span {
	color: #344953;
}

.nav-services__list,
.nav-main__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	width: 100%;

	list-style: none;
	margin-right: 58px;
	flex-grow: 1;
	margin-left: -10px;
}

.nav-main__list {
	margin: 0;
	padding: 0;
}

.nav-services__item {
	// margin-right: 54px;
	margin-left: 10px;
}

.nav-services__item a,
.nav-main__item a,
.main-menu__contacts a {
	font: inherit;
	color: #525466;

	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 29px;
}

.header__phone-number {
	font: inherit;
	color: #525466;

	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	// white-space: nowrap;
}

.main-menu {
	margin: 0 0;
	position: absolute;
	background-color: #ffffff;
	z-index: 10;
}

.main-menu-button {
	display: inline-block;
	position: relative;

	width: 20px;
	height: 20px;

	cursor: pointer;
}

.main-menu-button::before,
.main-menu-button::after {
	position: absolute;
	content: "";

	right: 0;
	bottom: 50%;

	width: 20px;
	height: 2px;
	background-color: #71A5F4;

	transform: rotate(45deg);
}

.main-menu-button::after {
	transform: rotate(-45deg);
}

.main-menu .nav-services__list,
.nav-main__list,
.main-menu__contacts {
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
}

.main-menu .nav-services__item,
.nav-main__item {
	margin-bottom: 35px;
}

.main-menu__contacts .phone-number {
	margin-bottom: 20px;
}

.main-menu__e-mail {
	margin-bottom: 40px;
}

.social__list {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-start;
	list-style: none;
}

.social__link {
	position: relative;
}

.social__item {
	margin-right: 52px;
}

.social__facebook::before,
.social__instagram::before {
	position: absolute;
	content: "";

	width: 32px;
	height: 32px;
	left: 0;
	top: 0;

	background-position: 0 0;
	background-repeat: no-repeat;
}

.social__facebook::before {
	background-image: url(../img/facebook.svg);
}

.social__instagram::before {
	background-image: url(../img/instagram.svg);
}

/*__MainMenu__*/

.main-menu {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: blue;
  
  &__trigger {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;

    box-shadow: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    outline: none;


    &-icon {
      display: inline-block;
      position: relative;
      width: px-to-rem(80);
      height: px-to-rem(80);
      color: #135da1;
      background: none;
      border: none;
      outline: none;

      transition: all 0.5s 0.3s;
      will-change: transform;

      .main-menu.open & {
        transform: rotate(135deg);
      }

      &-line {
        position: absolute;
        right: 25%;
        left: 25%;
        height: 2px;
        margin-top: -1px;
        background-color: currentcolor;
        transition: top 0.5s 0.3s, transform 0.5s 0.3s, opacity 0.5s 0.3s, background-color 0s 0s, right 0.5s 0.3s;

        .main-menu.open & {
          top: 50%;
        }
        &--1 {
          top: 31%;
        }
        &--2 {
          top: 50%;
        }
        .main-menu.open &--2 {
          opacity: 0;
        }
        &--3 {
          top: 69%;
          right: 38%;

          .main-menu:not(.open) .main-menu__trigger:hover &,
          .main-menu:not(.open) .main-menu__trigger:active & {
            right: 25%;
          }
        }
        .main-menu.open &--3 {
          transform: rotate(90deg);
          right: 25%;
        }
      }
    }





  }


  &__columns-container {
    position: fixed;
    top: 0;
    left: 200%;
    width: 100%;
    text-align: left;
    z-index: 1;
    background: lightgrey;
    color: #000;
    height: 100vh;
    overflow: auto;
    padding: 0 px-to-rem(80);
    transition: 0.5s;


    .main-menu.open & {
      left: 0%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: px-to-rem(80);
      width: 2px;
      background: rgba(192,192,192,0.2);
    }


    &-inner {
      width: 100%;
      min-height: 100vh;
      min-height: calc(var(--vh, 1vh) * 100);


      display: flex;
      align-items: center;
    }

    &-container {
      width: 100%;
    }
  }


  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: px-to-rem(25);
    }

    transform: translateX(-10px);
    opacity: 0;
    transition: 0.5s;
    
    .main-menu.open & {
      transform: translateX(0);
      opacity: 1;
    }
    

    @for $i from 1 through 20 {
      &:nth-of-type(#{$i}) { transition: 0.3s #{0.3 + ($i / 10) }s; }
    }

  }

  &__link {
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 700;
    color: #000;

    &:hover,
    &:active,
    &.current {
      color: blue;
    }
  }

  @media (max-width: 991.98px) {

    &__trigger {
      .main-menu-open.main-menu-scroll & {
        position: fixed;
        right: 0;
        top: 1rem;
        z-index: 3;
      }
    }

    &__content {

      background: #f5f5f5;
      padding: px-to-rem(100) 0;
      text-align: center;


      &::before {
        content: none;
        display: none;
      }


      &-inner {
        width: 100%;
        min-height: 80vh;
        min-height: calc(100vh - #{px-to-rem(200)});
      }

    }



    &__list {
      margin: 0 0 5vh;
    }

    &__contacts {
      margin: 0 0 2vh;
    }

  }
}

/*__Main-similar-styles__*/

.section-title {
	margin: 0;
	padding: 0;

	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;

	margin-bottom: 22px;
}

.section-subtitle {
	margin: 0;
	padding: 0;

	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 52px;	

	margin-bottom: 40px;
}


/*__Intro__*/

.intro-wrapper {
	background-image: url(../img/intro-bg.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.intro__columns {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;

	background-image: url(../img/bg-1.jpg);
	background-position: 0 0;
	background-size: 100vw;
}

.intro__columns-left,
.intro__columns-right {
	width: 50%;

	margin-bottom: 130px;
}

.intro__columns-right {
	width: 647px;
	height: 476px;
}

.intro__title {
	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 66px;

	color: #363740;

	margin-bottom: 45px;
}

.intro__title span {
	color: #FD9191;
}

.intro__text {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;

	width: 340px;

	margin-bottom: 45px;
}

/*__WorkProcess__*/

.work-process {
	background-color: #E5E5E5;;
	padding-top: 145px;
	padding-bottom: 75px;

	color: #71A5F4;
}

.work-process__subtitle {
	margin-bottom: 76px;

	color: #000000;
}

.work-process__slider {
	display: flex;
	justify-content: space-between;
}

.work-process__slides-list {
	position: relative;
	list-style: none;

	width: 450px;
	margin-right: 100px;
}

.work-process__slides-item {
	display: block;
	position: absolute;
	left: 0;
	top: 0;

	width: 350px;
	display: none;
}

.work-process__slides-item-title {
	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 52px;

	color: #000000;
}

.work-process__slides-item-text {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	/* or 147% */


	color: #525466;	
}

.work-process__slides-item-active {
	display: block;
}

.work-process__slider-controls-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	list-style: none;
}

.work-process__slider-controls-item {
	margin-bottom: 40px;
}

.work-process__button {
	display: block;
	width: 222px;
	height: 231px;

	padding-top: 100px;
	padding-left: 30px;

	background-color: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(74, 78, 84, 0.13);
	border-radius: 12px;
}

/*
.work-process__button:hover {
}

.work-process__button:active {
}

.work-process__button:focus {
}
*/

.work-process__carousel-item__title {
	position: relative;
	margin: 0;
	padding: 0;

	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;

	color: #000000;	

	margin-bottom: 15px;
}

.work-process__carousel-item__title::before {
	content: "";
	position: absolute;

	left: 0;
	top: -66px;

	width: 43px;
	height: 43px;

	background-image: url(../img/analytics.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.work-process__carousel-item__text {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

	color: #525466;
}

/*__ConsultationRequest__*/

.consultation-request {
	padding-top: 145px;
	padding-bottom: 120px;

	background-color: #5665EB;;
}

.consultation-request__title {
	color: rgba(255, 255, 255, 0.68);
}

.consultation-request__subtitle {
	color: #ffffff;
}

.consultation-request__text {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	width: 480px;

	color: #FFFFFF;	

	margin-bottom: 52px;
}

.consultation-request__columns-left {
	width: 600px;
	// margin-right: 80px;
}

.consultation-request__columns-right img {
	margin-top: 20px;
	// width: 100%;
}

.consultation-request__form-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: -15px 0 0 0;
}

.consultation-request__form-wrapper > * {
	margin-top: 15px;
}

.consultation-request__form-wrapper input {
	border: none;
	outline: none;

	width: 290px;
	min-height: 60px;

	background: rgba(255, 255, 255, 0.1);
	border-radius: 100px;	
	padding-left: 35px;

	color: #ffffff;
}

.consultation-request__form-wrapper input::placeholder {
	color: #ffffff;
}

.consultation-request__form-wrapper input:valid {
	border: none;
}

.consultation-request__form-wrapper input:invalid {
	border: 2px solid rgba(250, 20, 20, 0.6);
}

.consultation-request__form-wrapper button {
	width: 290px;
}

/*__Portfolio__*/

.portfolio {
	padding-top: 175px;	
	padding-bottom: 160px;
}

.portfolio__title {
	color: #71A5F4;
}

.portfolio__subtitle {
	margin-bottom: 92px;
	color: #000000;
}

.portfolio .slick-track {
	display: flex;
}
.portfolio .slick-slide {
	display: flex;
    height: auto;
}

.slider__item {
	width: 1015px;
	padding: 30px 25px;
}
.portfolio__item {
	height: 100%;
	width: 100%;
	box-shadow: 0px 12px 40px rgba(74, 78, 84, 0.13);
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 50px;


	&-logo {
		display: block;
		height: 60px;
		margin: 0 0 40px;

		&-img {
			width: auto;
			max-height: 100%;
		}
	}
	&-text {
		max-width: 345px;
		min-height: 8.9em;
		margin: 0 0 15px;
	}
}

.slider-container {
	padding-top: 92px;
}

.slider-controls {
	position: relative;
}

.slick-arrow {
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	z-index: 5;
	cursor: pointer;
	transform: translateY(-50%);

	text-align: center;
	vertical-align: middle;
	
	width: 58px;
	height: 58px;

	background-color: #5665EB;
	border-radius: 4px;	
}

.portfolio__next-slide-button {
	right: 0;
}

.portfolio__prev-slide-button {
	right: 68px;
}

/*__CalculationRequest__*/

.calculation-request {
	background-color: #FD9191;
	padding-top: 135px;
	padding-bottom: 120px;

	color: rgba(255, 255, 255, 0.68);
}

.calculation-request__subtitle {
	margin-bottom: 58px;
	color: #FFFFFF;
}

.calculation-request__columns-left fieldset {
	border: none;
}

.calculation-request__columns-left legend {
	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.services-radio-group,
.extra-functions-checkbox-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	margin: -10px 0 75px -5px;
} 

.extra-functions-checkbox-group {
	justify-content: flex-start;
}

.services-radio-group label,
.extra-functions-checkbox-group label {
	display: block;
	cursor: pointer;
	padding: 12px 25px;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;

	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 5px;
}

.extra-functions-checkbox-group label {
	position: relative;
	padding-left: 46px;
}

.extra-functions-checkbox-group label::before {
	content: "";
	display: inline-block;
	background-color: transparent;
	position: absolute;

	top: 50%;
	left: 15px;

	width: 16px;
	height: 16px;

	border: 1px solid #FFFFFF;
	// box-sizing: border-box;
	border-radius: 2px;

	transform: translateY(-50%);
}

.extra-functions-checkbox-group label::after {
	display: none;
	content: "";
	position: absolute;
	
	top: 50%;
	left: 15px;

	width: 12px;
	height: 12px;

	background-image: url(../img/check-mark.png);
	background-position: 0 0;
	background-repeat: no-repeat;

	transform: translateY(-50%);
}

.services-radio-group input:checked + label {
	background-color: #FFFFFF;
	color: #FD9191;	
}

.extra-functions-checkbox-group input:checked + label::after {
	display: inline-block;
}

.services-radio-group label:hover,
.extra-functions-checkbox-group label:hover {
	background-color: #FFFFFF;
	color: #FD9191;
}

.extra-functions-checkbox-group label:hover::before {
	border-color: #FD9191;
}

.submit-container {
	width: 445px;
	min-height: 525px;

	background: #FFFFFF;
	border-radius: 12px;

	margin-top: -100px;
	padding: 80px 80px 50px 75px;
}

.total {
	position: relative;
	font-family: FuturisBold, sans-serif, Verdana;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 52px;

	color: #71A5F4;	

	margin-bottom: 25px;
}

.total span {
	position: absolute;
	top: -20px;
	right: -35px;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: auto;
}

.calculation-request__submit-sum-note {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;

	color: #525466;	

	margin-bottom: 40px;
}

.submit-container input {
	border: none;
	outline: none;

	width: 290px;
	min-height: 60px;

	border: 1px solid rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	border-radius: 100px;
	padding-left: 35px;

	color: #525466;

	margin-bottom: 22px;
}

// .submit-container input:valid {
// 	border: none;
// }

// .submit-container input:invalid {
// 	border: 2px solid rgba(250, 20, 20, 0.6);
// }

.submit-container button {
	width: 290px;
	margin-bottom: 24px;
}

.calculation-request__disclaimer {
	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;
	text-align: center;

	width: 270px;

	color: #525466;	
	margin-left: auto;
	margin-right: auto;
}

.about {
	padding-top: 185px;
	padding-bottom: 120px;
}

.about__title {
	color: #71A5F4;
}

.about__subtitle {
	color: #000000;
	margin-bottom: 40px;
}

.faq__accordion h3 {
	width: 100%;
	min-height: 88px;

	font-family: FuturaBookC, sans-serif, Verdana;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;


	color: #525466;

	background-color: #FFFFFF;
	box-shadow: 0px 12px 40px rgba(74, 78, 84, 0.1);
	border-radius: 8px;

	padding: 30px 50px 30px 35px;
	vertical-align: middle;
}

@import '_media';