@import '_libs';
@import '_fonts';
@import '_ui';




body {
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;

  min-width: 320px;

  color: #000000;
  background: #fff;
}









@import '_media';
